USER_ID=1000
GROUP_ID=1000

NETWORK_SUBNET=172.17.0.0/24
NETWORK_GATEWAY=172.20.0.1

DB_VOLUME_PATH=./stack_data/db_data/
DB_DATABASE=nextcloud
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_ROOT_HOST=%
DB_ROOT_PASSWORD=DB_ROOT_PASSWORD
DB_AUTO_UPGRADE=1
DB_DISABLE_UPGRADE_BACKUP=1
#DB_INIT_FILE=./database_backup.sql

REDIS_VOLUME_PATH=./stack_data/redis_data/

NEXTCLOUD_APP_VOLUME_PATH=./stack_data/nextcloud_data/app_data/
NEXTCLOUD_DATADIR_VOLUME_PATH=./stack_data/nextcloud_data/datadir/
NEXTCLOUD_ADMIN_USER=NEXTCLOUD_ADMIN_USER
NEXTCLOUD_ADMIN_PASSWORD=NEXTCLOUD_ADMIN_PASSWORD
NEXTCLOUD_DATA_DIR=/datadir
#NEXTCLOUD_TRUSTED_DOMAINS= (not set by default) Optional space-separated list of domains (eg. NEXTCLOUD_TRUSTED_DOMAINS='172.72.0.1' nextcloud.mydomain.com)
NEXTCLOUD_TRUSTED_DOMAINS='nextcloud.mydomain.com'

PHP_MEMORY_LIMIT=512M
PHP_UPLOAD_LIMIT=512M

NGINX_HTTP_PORT=8083
NGINX_VOLUME_PATH=./stack_data/nginx_data/

